[user]
  email = jack@tobikodata.com
  name = Jack Senechal
[alias]
  st = status
  br = branch
  co = checkout
  ci = commit
  cw = whatchanged
[core]
  editor = nvim
  excludesFile = ~/.gitignore
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
