---
- name: Ensure ~/.local/bin directory exists
  ansible.builtin.file:
    path: "~/.local/bin"
    state: directory
    mode: '0755'

# - name: Download and extract stern
#   ansible.builtin.unarchive:
#     src: https://github.com/stern/stern/releases/download/v1.31.0/stern_1.31.0_linux_amd64.tar.gz
#     dest: "~/.local/bin"
#     remote_src: yes
#     mode: '0755'
#     creates: "~/.local/bin/stern"
