SHELL=/bin/sh
PATH=/usr/bin:/usr/sbin:/sbin:/bin:/usr/lib/news/bin
MAILTO=jack
#
# check scripts in cron.hourly, cron.daily, cron.weekly, and cron.monthly

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed
@hourly         root      run-parts /etc/cron.hourly
@daily          root      run-parts /etc/cron.daily
@weekly         root      run-parts /etc/cron.weekly
@monthly        root      run-parts /etc/cron.monthly

# rkhunter scans for rootkits and suspicious activity. Email notification
# configured in /etc/rkhunter.conf. See /var/log/rkhunter.log.
0 2 * * *       root    rkhunter --cronjob > /dev/null 2>&1
# clamdscan scans for viruses. Any infected files will be mailed to the user
# specified above.
# 0 3 * * *     root    clamdscan --stdout --no-summary --infected /
* * * * *       root    clamdscan --stdout --no-summary --infected --remove /home/jack/Down
loads
# zypper update nightly
0 4 * * *       root    /home/jack/.local/bin/update_zypper_and_rkhunter
