[Unit]
Description=Night Mode Daemon

[Service]
Type=simple
Environment=PATH=%h/.local/bin:/usr/local/bin:/usr/bin
ExecStart=%h/.local/bin/night-mode
Restart=always

[Install]
WantedBy=default.target
